.menu{
	font-weight: bold;
	color: #fff;
	background-color: #45015d;
	border-radius: 15px;
	padding: 10px 20px;
	width: 150px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
}
.menu a{
	width: 100%;
	display: block;
	text-decoration: none;
	padding: 8px 16px;
	color: inherit;
	box-sizing: border-box;
}
.menu a:hover{
	color: #000;
	background-color: #fff;
}
.main{
	margin: 80px 40px 0 360px;
}
h1{
	font-weight: 400;
	font-size: 64px; 
}
body{
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}
.images img{
	width: 45%;
	margin: 5px;
	border-radius: 10px;
	opacity: 0.7;	
}
.images img:hover{
	opacity: 1;
}
h2{
	color: #45015d;
	font-size: 42px;
	font-weight: 300;
}
hr{
	border: none;
	height: 10px;
	background-color: #45015d;
	border-radius: 100px;
	width: 100%;
}
#designers .member{
	display: inline-block;
	width: 30%;
	padding: 8px;

}
.member img{
	width: 100%;
	border-radius: 10px;
	filter: grayscale(30%);
}
.description{
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 2px 16px 5px; 
}
.position{
	opacity: 0.7;
}
.tariff{
	width: 49%;
	display: inline-block;
	padding: 0 8px;
	box-sizing: border-box;
	text-align: center;
}
.tariff ul{
	background-color: #f1f1f1;
	padding: 0;
	margin: 0;
	border-radius: 10px;
}
.tariff li{
	border-bottom: 1px lightgray solid;
	border-radius: 10px;
	padding: 16px 0;
	list-style-type: none;
}
.tariff .tariff-name{
	background-color: #45015d;
	font-size: 24px; 
	color: white;
	padding: 32px 0;
}
.tariff .price{
	font-size: 30px;
	font-weight: 400;
}
.tariff .period{
	opacity: 0.6;
}
.tariff button{
	color: #45015d;
	background-color: white;
	border-radius: 20px;
	border: none;
	padding: 15px 20px;
	cursor: pointer;
}
.tariff button:hover{
	background-color: #45015d;
	color: white;
}
.pro .tariff-name{
	background-color: #f44336;
}
.pro button{
	background-color: #f44336;
	color: white;
}
.pro button:hover{
	background-color: white;
	color: #f44336;
}
form input{
	padding: 15px;
	width: 90%;
	border: 1px lightgray solid;

}
form button{
	background-color: #45015d;
	border-radius: 15px;
	border: none;
	padding: 10px 0px;
	color: white;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	width: 100%;
}
form button:hover{
	background-color: white;
	color: #45015d;
	border: 1px #45015d solid;
}
#footer{
	padding: 32px 58px;
	text-align: right;
}
#footer a{
	color: #45015d;
}
#footer a:active{
	color: red;
}